﻿@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@* Scipts / CSS *@
<link href="~/Content/css/plugins/jasny/jasny-bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/plugins/jstree/jstree.js"></script>
<script src="~/Content/js/plugins/jasny/jasny-bootstrap.js"></script>
<link href="~/Content/js/plugins/jstree/jstree.min.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/js/page/CategoryListPage.js"></script>
@* Scipts / CSS *@

<div class="row">
    <div class="col-md-4">
        <div class="block">
            <!-- Horizontal Form Title -->
            <div class="block-title">
                <h2><strong>Category List</strong></h2>
            </div>
            <form onsubmit="return false;" class="form-horizontal form-bordered" method="post" action="page_forms_general.html" style="min-height:647px;">
                <div id="CategoryTree">
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <div class="block">
            <!-- Horizontal Form Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a title="" class="btn btn-alt btn-sm btn-default hidden" onclick="AddNewParent();" data-original-title="Add New Parent" id="NewParent"><i class="fa fa-user"></i> Add New Parent</a>
                    <a title="" class="btn btn-alt btn-sm btn-default hidden" onclick="AddNewChild()" data-original-title="Add New Child" id="NewChild"><i class="fa fa-users"></i> Add New Child</a>
                    <a title="" class="btn btn-alt btn-sm btn-default hidden" onclick="DeleteNode()" data-original-title="Delete" id="DeleteNode"><i class="fa fa-trash"></i> Delete</a>
                </div>
                <h2><strong>Actions</strong></h2>
            </div>
            <!-- END Horizontal Form Title -->
            <!-- Horizontal Form Content -->
            <form onsubmit="return false;" id="Category_Form" class="form-horizontal form-bordered" method="post" action="page_forms_general.html">
                <div class="form-group">
                    <label for="example-hf-email" class="col-md-3 control-label">Category Name *</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="CategoryName" class="form-control" name="example-hf-email" id="CategoryName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-textarea-input" class="col-md-3 control-label">Description</label>
                    <div class="col-md-9">
                        <textarea placeholder="Type Description Here.." class="form-control" rows="9" name="example-textarea-input" id="Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-select" class="col-md-3 control-label">Unit Type</label>
                    <div class="col-md-9">
                        <select size="1" class="form-control" name="example-select" id="UnitType">
                            <option value="0">Please select Unit Type</option>
                            <option value="1">Kg</option>
                            <option value="2">Ltr</option>
                            <option value="3">Packet</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-textarea-input" class="col-md-3 control-label">Category Image</label>
                    <div class="col-md-9">
                        <div id="customize_fileinput" data-provides="fileinput" class="fileinput fileinput-new">
                            <div class="fileinput-new thumbnail" id="DefaultImage">
                                <img class="m-t-xs img-responsive" style="max-height:200px;max-width:200px;" alt="..." src="~/Content/img/no_image.jpg">
                            </div>
                            <div id="ImageUrl" style="max-height:200px;max-width:200px;" class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-primary btn-file btn-xs"><span class="fileinput-new" id="SelectImage">Select image</span><span class="fileinput-exists">Change</span><input type="hidden" value="" name="..."><input type="file" name=""></span>
                                <a data-dismiss="fileinput" class="btn btn-warning fileinput-exists btn-xs" href="#">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="pull-right" style="margin-right:15px;">
                        <button class="btn btn-sm btn-primary" type="submit" id="save"><i class="fa fa-save"></i> Submit</button>
                        <button class="btn btn-sm btn-warning" type="reset" id="cancel" onclick="ResetAll();"><i class="fa fa-repeat"></i> Cancel</button>
                    </div>
                </div>
            </form>
            <!-- END Horizontal Form Content -->
        </div>
    </div>
</div>