﻿<footer class="clearfix">
    <div class="pull-right">
        Crafted with <i class="fa fa-heart text-danger"></i> by <a href="#" target="_blank">techinfoplace</a>
    </div>
    <div class="pull-left">
        <span id="year-copy"></span> &copy; <a href="#" target="_blank">techinfoplace</a>
    </div>
</footer>
