﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <script src="@Url.Content("~/Content/js/vendor/modernizr-respond.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/jquery-1.11.3.min.js")"></script>
    <script src="@Url.Content("~/Content/js/vendor/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/common.js")"></script>
</head>
<body>
   
    <div id="page-wrapper">
        <!-- Page Container -->
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
            @RenderPage("~/Areas/Admin/Views/Shared/_sidebarmenu.cshtml")
            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                <!-- In the PHP version you can set the following options from inc/config file -->
                <!--
                Available header.navbar classes:

                'navbar-default'            for the default light header
                'navbar-inverse'            for an alternative dark header

                'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                    'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                    'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                -->
                @RenderPage("~/Areas/Admin/Views/Shared/_header.cshtml")
                <!-- END Header -->
                <!-- Page content -->
                <div id="page-content">
                    @RenderBody()
                </div>
                <!-- END Page Content -->
                <!-- Footer -->
                @RenderPage("~/Areas/Admin/Views/Shared/_footer.cshtml")
                <!-- END Footer -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
        

        <!-- Remember to include excanvas for IE8 chart support -->
        <!--[if IE 8]><script src="~/Content/js/helpers/excanvas.min.js"></script><![endif]-->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
