﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Areas/Admin/Content/js/page/ecomDashboard.js")"></script>
<script>$(function () { EcomDashboard.init(); });</script>
<!-- Top Boxes -->
<div class="row text-center">
    <div class="col-sm-6 col-lg-3">
        <a class="widget widget-hover-effect2" href="javascript:void(0)">
            <div class="widget-extra themed-background">
                <h4 class="widget-content-light"><strong>Running</strong> Services</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 animation-expandOpen">100</span></div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a class="widget widget-hover-effect2" href="javascript:void(0)">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Hire</strong> Today</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">150</span></div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a class="widget widget-hover-effect2" href="javascript:void(0)">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Cancel</strong> Today</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">25</span></div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a class="widget widget-hover-effect2" href="javascript:void(0)">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Spent</strong> Today</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">1500 USD</span></div>
        </a>
    </div>
</div>
<!-- END Top Block  -->
<!-- Overview & Charts -->
<div class="block full">
    <!-- eShop Overview Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <div class="btn-group btn-group-sm">
                <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default dropdown-toggle" data-toggle="dropdown">Last Year <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="active">
                        <a href="javascript:void(0)">Last Year</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Last 6 Month</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Last 3 Month</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Last Month</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">This Month</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Today</a>
                    </li>
                </ul>
            </div>
        </div>
        <h2><strong>eShop</strong> Overview</h2>
    </div>
    <!-- END eShop Overview Title -->
    <!-- eShop Overview Content -->
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="row push">
                <div class="col-xs-6">
                    <h3><strong class="animation-fadeInQuick">1,00,000</strong><br><small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Total Orders</a></small></h3>
                </div>
                <div class="col-xs-6">
                    <h3><strong class="animation-fadeInQuick">50,090</strong><br><small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Total Providers</a></small></h3>
                </div>
                <div class="col-xs-6">
                    <h3><strong class="animation-fadeInQuick">8,20,000 USD</strong><br><small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Total Earning</a></small></h3>
                </div>
                <div class="col-xs-6">
                    <h3><strong class="animation-fadeInQuick">28,000</strong><br><small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Total Consumers</a></small></h3>
                </div>
                <div class="col-xs-6">
                    <h3><strong class="animation-fadeInQuick">20,000</strong><br><small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Total Hire</a></small></h3>
                </div>
                <div class="col-xs-6">
                    <h3><strong class="animation-fadeInQuick">4,000</strong><br><small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Total Cancel</a></small></h3>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <!-- Flot Charts (initialized in js/pages/ecomDashboard.js), for more examples you can check out http://www.flotcharts.org/ -->
            <div id="chart-overview" style="height: 350px;"></div>
        </div>
    </div>
    <!-- END eShop Overview Content -->
</div>
<!-- END Overview & Charts Block -->
<!-- Provider & Consumer Details Grid -->
<div class="row">
    <div class="col-lg-6">
        <!-- Latest Orders Block -->
        <div class="block">
            <!-- Latest Orders Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="page_ecom_orders.html" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Show All"><i class="fa fa-eye"></i></a>
                </div>
                <h2><strong>Latest</strong> Hire</h2>
            </div>
            <!-- END Latest Orders Title -->
            <!-- Latest Orders Content -->
            <table class="table table-borderless table-striped table-vcenter table-bordered">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="javascript:void(0)"><strong>Service ID</strong></a></td>
                        <td class="text-center" style="width: 100px;"><a href="javascript:void(0)"><strong>Service Title</strong></a></td>
                        <td class="text-center" style="width: 100px;"><a href="javascript:void(0)"><strong>Payment Type</strong></a></td>
                        <td class="text-center" style="width: 100px;"><a href="javascript:void(0)"><strong>Amount</strong></a></td>
                        <td class="text-center" style="width: 100px;"><a href="javascript:void(0)"><strong>Status</strong></a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="javascript:void(0)"><strong>SER.685116</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">Math Tutor</a></td>
                        <td class="hidden-xs">Paypal</td>
                        <td class="text-right"><strong>$65,00</strong></td>
                        <td class="text-right"><span class="label label-info">Active</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685115</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">English Tutor</a></td>
                        <td class="hidden-xs">Bank wire</td>
                        <td class="text-right"><strong>$268,00</strong></td>
                        <td class="text-right"><span class="label label-danger">Canceled</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685114</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">Math Tutor</a></td>
                        <td class="hidden-xs">Paypal</td>
                        <td class="text-right"><strong>$362,00</strong></td>
                        <td class="text-right"><span class="label label-warning">Pending</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685113</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">Math Tutor</a></td>
                        <td class="hidden-xs">Paypal</td>
                        <td class="text-right"><strong>$23,00</strong></td>
                        <td class="text-right"><span class="label label-success">Completed</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685112</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">Statistics Tutor</a></td>
                        <td class="hidden-xs">Bank wire</td>
                        <td class="text-right"><strong>$1360,00</strong></td>
                        <td class="text-right"><span class="label label-info">Acive</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685111</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">Statistics Tutor</a></td>
                        <td class="hidden-xs">Bank wire</td>
                        <td class="text-right"><strong>$2685,00</strong></td>
                        <td class="text-right"><span class="label label-info">Active</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685110</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">English Tutor</a></td>
                        <td class="hidden-xs">Paypal</td>
                        <td class="text-right"><strong>$128,00</strong></td>
                        <td class="text-right"><span class="label label-success">Pending</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685109</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">English Tutor</a></td>
                        <td class="hidden-xs">Check</td>
                        <td class="text-right"><strong>$3150,00</strong></td>
                        <td class="text-right"><span class="label label-danger">Canceled</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685108</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">Math Tutor</a></td>
                        <td class="hidden-xs">Check</td>
                        <td class="text-right"><strong>$750,00</strong></td>
                        <td class="text-right"><span class="label label-success">Completed</span></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="javascript:void(0)"><strong>SER.685107</strong></a></td>
                        <td class="hidden-xs"><a href="javascript:void(0)">Statistics Tutor</a></td>
                        <td class="hidden-xs">Paypal</td>
                        <td class="text-right"><strong>$630,00</strong></td>
                        <td class="text-right"><span class="label label-danger">Canceled</span></td>
                    </tr>
                </tbody>
            </table>
            <!-- END Latest Orders Content -->
        </div>
        <!-- END Latest Orders Block -->
    </div>
    <div class="col-lg-6">
        <!-- Top Products Block -->
        <div class="block">
            <!-- Top Products Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="page_ecom_products.html" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Show All"><i class="fa fa-eye"></i></a>
                </div>
                <h2><strong>Top</strong> Providers</h2>
            </div>
            <!-- END Top Products Title -->
            <!-- Top Products Content -->
            <table class="table table-borderless table-striped table-vcenter table-bordered">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>Provider ID</strong></a></td>
                        <td class="text-center"><a href="page_ecom_product_edit.html"><strong>Name</strong></a></td>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>Total Hires</strong></a></td>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>Reviews</strong></a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8765</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Gerald Berry</a></td>
                        <td class="text-center"><strong>45</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8764</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Patrick Bates</a></td>
                        <td class="text-center"><strong>50</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8763</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Ethan Greene</a></td>
                        <td class="text-center"><strong>44</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8762</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Bruce Hicks</a></td>
                        <td class="text-center"><strong>75</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8761</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Harry Burke</a></td>
                        <td class="text-center"><strong>42</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8760</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Nancy Rose</a></td>
                        <td class="text-center"><strong>65</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8762</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Helen Jensen</a></td>
                        <td class="text-center"><strong>52</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8761</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Harry Medina</a></td>
                        <td class="text-center"><strong>47</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8760</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Ryan Hopkins</a></td>
                        <td class="text-center"><strong>39</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>PID.8760</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Anthony Franklin</a></td>
                        <td class="text-center"><strong>38</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- END Top Products Content -->
        </div>
        <!-- END Top Products Block -->
    </div>
    <div class="col-lg-6">
        <!-- Top Products Block -->
        <div class="block">
            <!-- Top Products Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="page_ecom_products.html" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Show All"><i class="fa fa-eye"></i></a>
                </div>
                <h2><strong>Top</strong> Consumers</h2>
            </div>
            <!-- END Top Products Title -->
            <!-- Top Products Content -->
            <table class="table table-borderless table-striped table-vcenter table-bordered">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>Consumer ID</strong></a></td>
                        <td class="text-center"><a href="page_ecom_product_edit.html"><strong>Name</strong></a></td>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>Total Hires</strong></a></td>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>Reviews</strong></a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8765</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Anthony Franklin</a></td>
                        <td class="text-center"><strong>43</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8764</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Helen Jensen</a></td>
                        <td class="text-center"><strong>50</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8763</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Harry Medina</a></td>
                        <td class="text-center"><strong>44</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8762</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Nancy Rose</a></td>
                        <td class="text-center"><strong>75</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8761</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Ryan Hopkins</a></td>
                        <td class="text-center"><strong>42</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8760</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Bruce Hicks</a></td>
                        <td class="text-center"><strong>65</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8762</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Harry Burke</a></td>
                        <td class="text-center"><strong>52</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8761</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Ethan Greene</a></td>
                        <td class="text-center"><strong>42</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8760</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Gerald Berry</a></td>
                        <td class="text-center"><strong>32</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 100px;"><a href="page_ecom_product_edit.html"><strong>CID.8760</strong></a></td>
                        <td><a href="page_ecom_product_edit.html">Patrick Bates</a></td>
                        <td class="text-center"><strong>38</strong></td>
                        <td class="hidden-xs text-center">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- END Top Products Content -->
        </div>
        <!-- END Top Products Block -->
    </div>
</div>
<!-- END Provider & Consumer Details Grid -->
<!-- Statistics Widgets -->
<div class="row">
    <div class="col-md-6">
        <!-- Widget -->
        <div class="widget">
            <div class="widget-extra text-center themed-background-dark-night">
                <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Weekly <strong>Stats</strong></h3>
            </div>
            <div class="widget-simple">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-night">
                            <i class="gi gi-group"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Providers</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-night">
                            <i class="hi hi-user"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Consumers</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                            <i class="gi gi-globe"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>20%</strong><br><small>Services</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                            <i class="gi gi-thumbs_up"></i>
                        </a>
                        <h3 class="remove-margin-bottom">- <strong>10%</strong><br><small>Hires</small></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Widget -->
    </div>
    <div class="col-md-6">
        <!-- Widget -->
        <div class="widget">
            <div class="widget-extra text-center themed-background-dark-night">
                <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Monthly <strong>Stats</strong></h3>
            </div>
            <div class="widget-simple">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-night">
                            <i class="gi gi-group"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Providers</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-night">
                            <i class="hi hi-user"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Consumers</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                            <i class="gi gi-globe"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>20%</strong><br><small>Services</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                            <i class="gi gi-thumbs_up"></i>
                        </a>
                        <h3 class="remove-margin-bottom">- <strong>10%</strong><br><small>Hires</small></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Widget -->
    </div>
    <div class="col-md-6">
        <!-- Widget -->
        <div class="widget">
            <div class="widget-extra text-center themed-background-dark-night">
                <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Quarterly <strong>Stats</strong></h3>
            </div>
            <div class="widget-simple">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-night">
                            <i class="gi gi-group"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Providers</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-night">
                            <i class="hi hi-user"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Consumers</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                            <i class="gi gi-globe"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>20%</strong><br><small>Services</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                            <i class="gi gi-thumbs_up"></i>
                        </a>
                        <h3 class="remove-margin-bottom">- <strong>10%</strong><br><small>Hires</small></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Widget -->
    </div>
    <div class="col-md-6">
        <!-- Widget -->
        <div class="widget">
            <div class="widget-extra text-center themed-background-dark-night">
                <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Yearly <strong>Stats</strong></h3>
            </div>
            <div class="widget-simple">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-night">
                            <i class="gi gi-group"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Providers</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-night">
                            <i class="hi hi-user"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Consumers</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                            <i class="gi gi-globe"></i>
                        </a>
                        <h3 class="remove-margin-bottom">+ <strong>20%</strong><br><small>Services</small></h3>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                            <i class="gi gi-thumbs_up"></i>
                        </a>
                        <h3 class="remove-margin-bottom">- <strong>10%</strong><br><small>Hires</small></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Widget -->
    </div>
</div>
<!-- END Statistics Widgets -->
